<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643127923174-5529cd710co64lvf50jfs7cmpldpjknp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643127923174-5529cd710co64lvf50jfs7cmpldpjknp</string>
	<key>API_KEY</key>
	<string>AIzaSyAzzLjdM0pMhI9qRwhJraL46y1fbNybtVk</string>
	<key>GCM_SENDER_ID</key>
	<string>643127923174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryancolin.Stuciety</string>
	<key>PROJECT_ID</key>
	<string>stuciety-d284d</string>
	<key>STORAGE_BUCKET</key>
	<string>stuciety-d284d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643127923174:ios:74dfe16f77f0f86ed40627</string>
</dict>
</plist>